.body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200vh;
    background-image: url("../../images/backn2.png");
    background-position-y: -10vh;
    background-attachment: fixed;
}

.active-content{
    margin-top: 8%;
    width: 70%;
    height: 90%;
    background-color: #e2e2f3;
}

.flex-container {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    padding: 3%;
    display: flex;
    width: 48.5%;
    height: 15vw;
    margin: 0.5vw;
    background-color: #cecaf3;
}

.flex-col-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cell img{
    border: 0.5vw solid #9498c8;
    border-radius: 5px;
    width: 11vw;
    height: 100%;
    object-fit: cover;
    margin-right: 2vw;
}

.cell .title{
    color: #5c679e;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
}
.cell .topic{
    color: #5c679e;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
}

.cell .words{
    color: #5c679e;
    font-family: 'Tahoma', sans-serif;
    font-size: 1vw;
}

#int1, #int2 {
}

.cell .words button {
}

.loading {
    margin: 0 auto;
}

input {
    margin-right: 1vw;
    background-color: rgba(148, 152, 200, 0.1);
    border: none;
    border-bottom: 4px solid #9498c8;
    transition: 0.4s;
}

input:hover {
    background-color: rgba(148, 152, 200, 0.3);
}

@keyframes ldio-y4vhssos6yl {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-y4vhssos6yl > div > div {
    transform-origin: 100px 100px;
    animation: ldio-y4vhssos6yl 2.6315789473684212s linear infinite;
    opacity: 1
}

.ldio-y4vhssos6yl > div > div > div {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 80px 0 0 0;
    transform-origin: 100px 100px
}

.ldio-y4vhssos6yl > div div:nth-child(1) {
    animation-duration: 0.6578947368421053s
}

.ldio-y4vhssos6yl > div div:nth-child(1) > div {
    background: #8328f8;
    transform: rotate(0deg);
}

.ldio-y4vhssos6yl > div div:nth-child(2) {
    animation-duration: 0.8771929824561403s
}

.ldio-y4vhssos6yl > div div:nth-child(2) > div {
    background: #d40498;
    transform: rotate(0deg);
}

.ldio-y4vhssos6yl > div div:nth-child(3) {
    animation-duration: 1.3157894736842106s
}

.ldio-y4vhssos6yl > div div:nth-child(3) > div {
    background: #c19cf2;
    transform: rotate(0deg);
}

.ldio-y4vhssos6yl > div div:nth-child(4) {
    animation-duration: 2.6315789473684212s
}

.ldio-y4vhssos6yl > div div:nth-child(4) > div {
    background: #f2c7f0;
    transform: rotate(0deg);
}

.loadingio-spinner-wedges-1kn05ey5fav {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    margin-top: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    z-index: 1;
}

.ldio-y4vhssos6yl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-y4vhssos6yl div {
    box-sizing: content-box;
}
