.body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200vh;
    background-image: url("../../images/backn2.png");
    background-position-y: -10vh;
    background-attachment: fixed;
}

.active-content{
    margin-top: 8%;
    width: 70%;
    height: 90%;
    background-color: #e2e2f3;
}

.myRow3 {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10%, 15%);
    column-gap: 3%;
    row-gap: 1.5%;
}

.myRow4 {
    padding: 2%;
    display: flex;
    /*grid-template-columns: 1fr;
    grid-auto-rows: minmax(1vh, 5vh);
    column-gap: 3%;
    row-gap: 0.7vh;*/
    flex-direction: column;
}

.form {
    margin: 1vw 0;
    padding: 2%;
    display: flex;
    width: 67.2vw;
    height: 3vw;
    justify-content: flex-start;
    align-items: center;
    background-color: #cecaf3;
}

.form button {
    border: none;
    background-color: transparent;
}

.form .btn2 {
    margin-left: auto;
    margin-right: 5.3vw;
}

.word {
    padding: 0 1vw;
    margin: 0.5vw 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-areas: "a b c d";
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr; */
    width: 67.2vw;
    height: 4vw;
    background-color: #cecaf3;
}

.word .wordName {
    width: 30%;
}

.word .wordName1 {
    width: 30%;
    visibility: hidden;
    margin-left: -35%;
    margin-right: 40%;
}

.word .btn {

}

.word button {
    background-color: transparent;
    border: none;
}

.word .update-button {

}

.playlist {
    padding: 3%;
    display: grid;
    grid-template-areas:    "a b b"
                            "a c h"
                            "a c h" "a f h";
    grid-template-rows: 20% 20% 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 25vh;
    background-color: #cecaf3;
}

.playlist img {
    grid-area: a;
    width: 60%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.playlist .btns-group {
    grid-area: f;
    width: 50%;
    height: 100%;
    margin: 0;
}

.playlist .title {
    color: #5c679e;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    grid-area: b;
}

.playlist .title1 {
    visibility: hidden;
    color: #5c679e;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    grid-area: b;
}

#updateButton {
    visibility: hidden;
}

.playlist .topic {
    color: #5c679e;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    grid-area: c;
}

.playlist .topic1 {
    visibility: hidden;
    color: #5c679e;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    grid-area: c;
}

.playlist .words {
    color: #5c679e;
    font-family: 'Tahoma', sans-serif;
    font-size: 1vw;
    grid-area: f;
}

.btns-group button {
    background-color: transparent;
    border: none;
    font-size: 2vw;
}

.fa-trash-alt {
    color: #a90200;
}

.fa-edit {
    color: #021c9a;
}

.word-up-button {
    visibility: hidden;
}

.fa-check-circle {
    color: green;
}

button {
    transition: 0.2s;
}

.myRow4 button:hover,
.myRow3 button:hover {
    filter: brightness(5);
}

