.header{
    width: 100vw;
    position: fixed;
    background-color: rgba(206,202,243, 0.8);
    -webkit-box-shadow: 0px -37px 68px 64px rgba(74,61,196,0.2);
    -moz-box-shadow: 0px -37px 68px 64px rgba(74,61,196,0.2);
    box-shadow: 0px -37px 68px 64px rgba(74,61,196,0.2);
    z-index: 555;
}

.profileImg {
    background-image: url("../../images/ava.png");
    background-size: cover;
    width: 2vw !important;
    height: 2vw !important;
    margin-left: 8vw;
    border-radius: 50%;
    border: 3px solid white;
}

.acc {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown {
    background-color: rgba(206, 202, 243, 0.8);;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 0;
    height: 200% !important;
}

.dropdown > a * {
    height: 33% !important;
}

.acc:hover .dropdown {
    top: 100%;
    opacity: 1;
}

.acc i {
    height: 27%;
}

.acc .fa-arrow-down {
    margin-left: -22%;
}

.header *{
    width: 100%;
    height: 10vh;
}

.logo:hover{
    transition: 0.3s;
    background-image: url("../../images/logo2.png");
}

.logo{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../images/logo.png");
    transition: 0.3s;
    margin: 3% 0;
    height: 80%;
    width: 90%;
}

.header-row{
    width: 100%;
    height: 100%;
}

.menu{
    height: 100%;
    width: 100%;
}

.menu button{
    padding: 0;
    font-size: 1.2vw;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: transparent;
    color: #5c679e;
    margin: 0 5%;
    height: 100%;
    width: 90%;
}

.menu button:hover{
    border: none;
    background-color: transparent;
    color: white;
}

button.active.focus, button.active:focus,
button.focus, button:active.focus,
button:active:focus, button:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
