.con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.img {
    background-image: url("../../images/cong.png");
    background-size: cover;
    width: 700px;
    height: 500px !important;
}
